{% extends "main.j2" %}
{% block content %}

<h1>My Garden Planner</h1>
<div class="homepageDescription">
  <p>
  Welcome to my Garden Planner! </br> </br>

  Project Group 125 </br>
  Group Members: Vivian Ta & Ameya Patil Patkar
  </p>
</div>

{% endblock %}
