<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - Garden Planner</title>
    <link href='{{ url_for('static', filename='css/style.css') }}' rel='stylesheet' />
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/plants">Plants</a>
        <a href="/gardens">Gardens</a>
        <a href="/users">Users</a>
        <a href="/beds">Beds</a>
        <a href="/plants-in-beds">My Plants in Bed</a>
    </nav>

    {% block content %}{% endblock %}

</body>
</html>
